<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <form method="post" action="/users/save">
        <input name="email" type="email">
        <input type="submit" value="Send Request">
    </form>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>